// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$white:             #fff;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-comments {

  background-color: $background-color;

  .twitter-user {
    margin-bottom: 0.5em;
    img {
      border-radius: 100%;
      border: 2px solid $white;
      opacity: 1;
      max-width: 40px;
    }
    .name {
      padding-left: 5px;
      font-size: 1.2em;
      font-weight: bold;
      &:before {
        content: '@';
      }
    }
  }

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }

  .comment-container {
    display: none;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
