
<% content_for :title do %>dyscribe.com Dashboard<% end %>
<script type='text/javascript'>
$(function() {
    Dashing.numColumns = 4;
    Dashing.numRows = 2;
    Dashing.widget_base_dimensions = [320, 320];
});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo_green_transparent.png" data-width="200px"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="soundcloud-plays" data-view="Number" data-unordered="true" data-title="@klartexter Plays on Soundcloud" style="background-color:#FF6600"></div>
      <i class="icon-play icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="my-trello-board" data-view="List" data-title="Musik & Studio Board"></div>
      <i class="icon-trello icon-background"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-color:#9cc7a1"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="git_issues_labeled_defects" data-view="Graph" data-title="Open Issues & Pullrequests" ></div>
      <i class="icon-github icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#4099FF;" data-moreinfo="Recent Tweets"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="instadash" data-view="Instadash"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">This is an open source dashboard built with <a href="//dashing.io" target="blank">Dashing</a> by <a href="//github.com/dyscribe/" target="blank">@dyscribe</a> hosted on <a href="//heroku.com" target="blank">Heroku.</a> Check the <a href="//github.com/dyscribe/personal-dashing-dashboard" target="blank">source on Github</a>.</div></center>
</div>
